<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <h1>Dashboard</h1>
    
    <!-- Display user's name -->
    <h2>Hello, {{ user.name }}</h2>

    <!-- Conditional rendering -->
    {% if user.logged_in %}
    <p>Status: Logged In</p>
    {% else %}
    <p>Status: Logged Out</p>
    {% endif %}

    <!-- Loop through hobbies -->
    <h3>Hobbies</h3>
    <ul>
        {% for hobby in user.hobbies %}
        <li>{{ hobby }}</li>
        {% endfor %}
    </ul>
    

    <h1>{{ l1 }}</h1>
    <ul>
        {% for num in l1 %}
        <li>{{ num }}</li>
        {% endfor %}
    </ul>

    {% if number == 430 %}
        <h1>Code is 430</h1>
    {% else %}
        <h1>Code is not correct</h1>
    {% endif %}

</body>

</html>